<!DOCTYPE html>
<html>
<head>
    <title>LionTech Deployment</title>
</head>
<body>
    <h1>🚀 LionTech DevOps Deployment</h1>
    <p>Server OS: {{ ansible_distribution }}</p>
    <p>Environment: {{ group_names }}</p>
</body>
</html>